@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --bg-color: #a9e89b;
}

* {
  margin: 0;
  box-sizing: border-box;
  transition: all 0.35s linear;
  font-family: "poppins", sans-serif;
}

html, body {
  background-color: var(--bg-color);
  margin: 0;
  height: 100%;
}

.dark body {
    background-color: #070707;
}
.app {
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center; 
  align-items: center;     
  min-height: 100vh;
  width: 100%;           
}

.wrap {
  display: flex;
  flex-direction: row;
}

.sidebar {
  position: relative;
  top: 0;
  left: 0;
  /*width: 260px; */             
  z-index: 20;
  /*overflow: hidden;*/
}

.map {
  display: flex;
  flex-direction: column;
  height: 100vh;       
  width: 100%;
}

.bottom-bar {
  margin-top: auto;    
  /*width: 100%;*/
}
.top-bar {
  display: flex;
  justify-content: center;
  margin-top: auto;
}
.content {
  flex: 1;               
  overflow: auto;        
}