.toolbar {
  max-width: 1280px;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.toolbar button { 
  background-color: transparent;
  padding:8px 12px;
  border:1px solid #000;
  border-radius:6px;
  cursor:pointer; 
}

.toolbar button.active { 
  font-weight:600; 
}

/*.mapWrap {
  position: relative;
  width: 100%;
  height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
}*/

/*.wrap {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center; 
}*/

.wrap {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}


.floor {
  position: absolute;
  width: 1024px;
  height: 640px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms ease;
}

.floor.active {
  opacity: 1;
  pointer-events: auto;
}

.floor svg {
  width: 100%;
  height: 100%;
}
