.floor {
  /*padding-left: 20px;*/
  padding: 10px;
  position: relative;
  /*width: 1152px;
  height: 648px;*/
  width: 1280px;
  height: 720px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms ease;
}

.toolbar  {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  /*padding: 8px 12px;*/
}

.center-title {
  grid-column: 2;
  justify-self: center;
  text-align: center;
}

.toolbar-actions {
  grid-column: 3;
  justify-self: end;
  display: flex;
  gap: 8px;
  width: fit-content;
}

.toolbar-actions button {
  background-color: #fff;
  border: none;
  border-radius: 8px;
  font-weight: 500;
  padding: 15px;
}

.floor.active {
  opacity: 1;
  pointer-events: auto;
}

.floor svg {
  width: 100%;
  height: 100%;
}
