.toolbar-actions button {
  background-color: #fff;
  border: none;
  border-radius: 8px;
  font-weight: 500;
  padding: 15px;
}

.floor.active {
  opacity: 1;
  pointer-events: auto;
}

.floor svg {
  width: 100%;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;  
  justify-content: center; 
  align-items: center;   
}

.map-section {
  display: flex;
  flex-direction: column;
  gap: 10px;             
  align-items: center;
}

.map-area {
  position: relative;     
  width: 1180px;
  height: 680px;
  /*width: 1280px;
  height: 720px;*/
  overflow: hidden;
}

.floor {
  position: absolute;  
  inset: 0;
  width: 100%;
  height: 100%;

  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms ease;
}

.floor.active {
  opacity: 1;
  pointer-events: auto;
}

.floor svg {
  width: 100%;
  height: 100%;
  display: block;
}

.toolbar  {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  width: 1100px;
}

.center-title {
  grid-column: 2;
  justify-self: center;
  text-align: center;
}

.toolbar-actions {
  grid-column: 3;
  justify-self: end;
  display: flex;
  gap: 8px;
  width: fit-content;
}

.toolbar-actions button {
  background-color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  padding: 10px;
  transition: background-color 150ms ease, color 150ms ease;
}

.toolbar-actions button:hover {
  background-color: #00ff7f
}

.toolbar-actions button.active {
  background-color: #fff;
  color: #000;
  font-weight: 600
}