.input-search {
  align-items: center;
  display: flex;
  position: relative;
  width: 30%;
  margin-top: 15px;
}

.input-search input {
  background-color: #f5f5f5;
  border: none;
  border-radius: 30px;
  color: #555;
  flex: 1;
  font-size: 18px;
  /*height: 60px;*/
  margin-right: 16px;
  outline: none;
  padding: 10px 25px;
}

.input-search button {
  background-color: #a9e89b;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  height: 60px;
  outline: none;
  width: 60px;
}