:root{
  --bg-color:rgb(213, 253, 206);
  --first-color: #212529;
  --second-color: #4d4d4d;
}

/* General */
body {
  background: var(--bg-color);
  color: var(--first-color);
  margin: 0;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
}

.toolbar { 
  display:flex; 
  gap:8px; 
  margin: 10px 0 10px 10px;
}

.toolbar button { 
  background-color: transparent;
  padding:8px 12px;
  border:1px solid #000;
  border-radius:6px;
  cursor:pointer; 
}

.toolbar button.active { 
  font-weight:600; 
}

.mapWrap {
  margin-left: 10px;
  position: relative;
}

.floor { 
  position: absolute;
  inset: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms ease;
}

.floor.active { 
  opacity: 1;
  pointer-events: auto;
}

.floor svg { 
  position: absolute;
  inset: 0;
  width: 1280px;
  height: 720px;
}

svg .classroom {
    background-color: yellowgreen;
}